<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.org.mattford.scoutlink"
    android:versionCode="23"
    android:versionName="2.0.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="uk.org.mattford.scoutlink.ScoutlinkApplication"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".irc.IRCService" />

        <activity android:name=".activity.ConversationsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.JoinActivity"
            android:label="@string/join_activity_label"
            android:theme="@style/Dialog" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/action_settings"
            />
        <activity
            android:name=".activity.ChannelListActivity"
            android:label="@string/title_activity_channel_list"
            android:theme="@style/Dialog">
        </activity>
        <activity
            android:name=".activity.ListEditActivity"
            android:label="@string/title_activity_list_view_edit"
            android:theme="@style/Dialog">
        </activity>
        <activity
            android:name=".activity.ChannelSettingsActivity"
            android:label="@string/title_activity_channel_settings" >
        </activity>
        <activity
            android:name=".activity.RulesActivity"
            android:label="@string/title_activity_rules" >
        </activity>
        <activity android:name=".activity.LogListActivity" android:label="@string/title_activity_log_list"/>
        <activity android:name=".activity.LogViewActivity" android:label="@string/title_activity_log_view"/>
    </application>
</manifest>
